* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  .n1{
    display: none;
  }
  .n1{
    position: absolute;
    top: 100%;
    right: -21px;
    width: 50%;

  }
  .navbar-item{
    text-align: center;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .background-dark {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .main {
    margin-top: 128px;
  }
  .slider-pagination .slider-page{
    background-color: green !important;
  }
  .content-header{
    font-size: 44px !important;
    color: #000;
  }
  .content p{
    font-size: 22px;
    color: rgb(30, 35, 31);
  }
  .btn-product{
    font-weight: 900 !important;
  }
  .navbar-link{
    color: #fff !important;
  }
  .navbar-item{
    color: #fff;
  }
  .navbar-link:not(.is-arrowless)::after{
    border-color: #fff !important;
  }
  
  